<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Forms</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    </head>
    <body>
        <h1>Fill out the foaaarmaa!</h1>
        <div class="container">
            <div class="jumbotron">
                <form method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>
